# -*- coding: utf-8 -*-
require 'compass'

Compass.add_project_configuration 'config/compass.config'

compile '/assets/stylesheets/sass/partials/*/' do
  # don’t compile partials
end


compile '*' do
  case item[:extension]
    when 'html'
      layout item[:layout] || 'default'
    when 'haml'
      filter :haml
      layout item[:layout] || 'default'
    when 'textile'
      filter :liquid
      filter :redcloth
      layout item[:layout] || 'default'
    when 'md'
      filter :liquid
      filter :kramdown
      layout item[:layout] || 'default'
    when 'sass'
      filter :sass, Compass.sass_engine_options
      filter :relativize_paths, :type => :css
    when 'js'
      # filter :minify
  end
end

route '/assets/*/' do
  if item.identifier =~ /\/_/
    nil
  else
    if item[:extension] == 'sass'
      item.identifier.chop + '.css'
    else
      item.identifier.chop+'.'+item[:extension]
    end
  end
end

route '*' do
  rep.item.identifier + 'index.html'
end



layout '*', :haml
