.hero-unit
  %h1 Alex Petrov
  %p
    Software quality freak. Ruby / C(pp) / Clojure hacker. Starving to see the world where everything is event-driven.
  %p
    available on:

    %a{ :href => "http://twitter.com/ifesdjeen" }
      twitter
    |
    %a{ :href => "http://github.com/ifesdjeen" }
      github

  %p
    %a.btn.primary.large{ :href => "/articles/getting_started/"}
      Get Started!
.row
  .span6
    %h2
      Stuff I consider important:
    %ul
      %li
        %a{ :href => "http://travis-ci.org"}
          Travis-CI
      %li
        %a{ :href => "http://rubyamqp.info"}
          AMQP Guides
      %li
        %a{ :href => "http://github.com/michaelklishin/monger"}
          Monger
      %li
        %a{ :href => "http://github.com/michaelklishin/langohr"}
          Monger
      %li
        %a{ :href => "http://orceo.com"}
          Company I work for

  .span8
    %h2 Stuff that bothered me lately
    %dl
      %dt
        %a{ :href => "/articles/linux_scheduler/"}
          The Importance of Being Idle
      %dd
        Everyone's talking about Evented I/O. Even though I exploit it a lot, I tend to believe that some information about Linux Scheduler is sometimes more helpful.

