.hero-unit
  %h1 [Project Name]
  %p
    [One line project description goes here]

  %p
    %a.btn.primary.large{ :href => "/guides/getting_started/"}
      Get Started!

.row
  .span6
    %h2
      A list
    %ul
      %li
        %a{ :href => ""}
          Link 1
      %li
        %a{ :href => ""}
          Link 2
      %li
        %a{ :href => ""}
          Link 3
      %li
        %a{ :href => ""}
          Link 4

  .span8
    %h2 
    %dl
      %dt
        %a{ :href => "/guides/getting_started/"}
          Getting Started
      %dd
        Getting started with the project.

