!!!
%html{:lang => "en"}
  %head
    %link{ :href => "/assets/stylesheets/sass/styles.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27153041-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "/assets/javascripts/codemirror.js"}
    %link{ :rel => "stylesheet", :href => "/assets/stylesheets/codemirror.css" }
    %script{ :src => "/assets/javascripts/mode/ruby.js" }
    %link{ :rel => "stylesheet", :href => "/assets/stylesheets/theme/default.css" }

  %body
    .container
      = yield
